app/lib/common-cv-model/HROpen-v4.2-1/assessments/xml/OrderType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" elementFormDefault="qualified" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="OrderType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="codelist/AssessmentStatusCodeList.xsd" />
    <xsd:include schemaLocation="../../common/xml/organization/PartyInclusion.xsd" />
    <xsd:include schemaLocation="AssessmentSubjectType.xsd" />
    <xsd:include schemaLocation="../../common/xml/base/CodeType.xsd" />
    <xsd:include schemaLocation="../../common/xml/base/IdentifierType.xsd" />
    <xsd:include schemaLocation="../../common/xml/codelist/LanguageCodeList.xsd" />
    <xsd:include schemaLocation="../../common/xml/base/EffectiveTimePeriodType.xsd" />
    <xsd:include schemaLocation="RedirectUrlType.xsd" />
    <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
    <xsd:include schemaLocation="codelist/InvitationPartyCodeList.xsd" />
    <xsd:include schemaLocation="../../common/xml/communication/CommunicationType.xsd" />
    <xsd:include schemaLocation="../../common/xml/base/StringTypeArray.xsd" />
    <xsd:complexType name="AssessmentAccessType">
        <xsd:annotation>
            <xsd:documentation>This is a set of information used to provide the assessment subject access to a test that has been ordered.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="validFrom" type="hropen:DateTimeType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="validTo" type="hropen:DateTimeType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="id" type="hropen:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>Identifier for an assessment access type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentCommunication" type="hropen:CommunicationType">
                <xsd:annotation>
                    <xsd:documentation>Communication types to communicate with an assessment subject for a test or to schedule an assessment time and place to take the test.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="descriptions" type="hropen:StringTypeArray" />
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="OrderType">
        <xsd:annotation>
            <xsd:documentation>Represents an Assessments Order for HR Open Standards.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Alternative document IDs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
            <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
                            <xsd:annotation>
                                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
                            <xsd:simpleType>
                                <xsd:annotation>
                                    <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:integer" />
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                                        <xsd:complexType>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList" />
                                                <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType" />
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="party">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="supplier" type="hropen:PartyType" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="customer" type="hropen:PartyType" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="requester" type="hropen:PartyType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="documentSequence">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer" />
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="packageId" type="hropen:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>Identifier to associate with the assessment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="comparisonGroupIds">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Indicates the applicable group for comparing assessment or appraisal results.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentRequesterName">
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation>The individual that makes the request.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string" />
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="subject" type="hropen:AssessmentSubjectType">
                <xsd:annotation>
                    <xsd:documentation>The person who will be the subject of the assessment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentLanguageCodes">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>The language in which the assessment is required.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:LanguageCodeList" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentResultLanguageCodes">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>The language in which the assessment results are required.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:LanguageCodeList" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentAccess" type="hropen:AssessmentAccessType">
                <xsd:annotation>
                    <xsd:documentation>This is a set of information used to provide the assessment subject access to a test that has been ordered.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="testLocationId" type="hropen:IdentifierType">
                <xsd:annotation>
                    <xsd:documentation>An identifier for the location of a testing site or test center where a test was taken. If a test center does not have an identifier, then the name will be used as the identifier in the value property.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentAccessURL" type="hropen:RedirectUrlType">
                <xsd:annotation>
                    <xsd:documentation>The URL that the Requestor will re-direct the candidate to in order to complete the assessment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="onCompletionURL" type="hropen:RedirectUrlType">
                <xsd:annotation>
                    <xsd:documentation>Specifies the URL to direct the candidate to after the assessment is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="sendAssessmentResultsToURL" type="hropen:RedirectUrlType">
                <xsd:annotation>
                    <xsd:documentation>Specifies the URL to direct the candidate to after the assessment is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="invitationByPartyCode" type="hropen:InvitationPartyCodeList">
                <xsd:annotation>
                    <xsd:documentation>Specifies who will send the invitation to the candidate.  Options are the Customer or the Supplier.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="code" type="hropen:CodeType">
                <xsd:annotation>
                    <xsd:documentation>Specifies an optional field to be used by parties for communication of an additional piece of data such as accounting code, billing identifier, department identifier, or location information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assessmentStatus" type="hropen:AssessmentStatusCodeList">
                <xsd:annotation>
                    <xsd:documentation>Code indicating the status of an assessment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Order" type="hropen:OrderType" />
</xsd:schema>